In [1]:
import pandas as pd

In [2]:
commute = pd.read_csv('commute.csv', header = 0)

In [3]:
commute

   TripID        Vehicle        Date  CommuteTime Destination Weather
0       0  Street Triple   11/8/2022         18.5    Franklin    rain
1       1  Street Triple   11/9/2022         19.0      Taylor     sun
2       2  Street Triple  11/10/2022         17.0    Franklin     sun
3       3         Passat  11/15/2022         22.0      Taylor    snow
4       4         Passat  11/16/2022         19.0      Taylor    snow
5       5         Passat  11/28/2022         21.0      Taylor    rain
6       6         Passat   12/2/2022         19.0    Franklin     sun
7       7  Street Triple   12/3/2022         20.0     Library     sun

In [4]:
commute['TripID']

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
Name: TripID, dtype: int64

In [5]:
commute['Vehicle']

0    Street Triple
1    Street Triple
2    Street Triple
3           Passat
4           Passat
5           Passat
6           Passat
7    Street Triple
Name: Vehicle, dtype: object

In [6]:
commute['Date']

0     11/8/2022
1     11/9/2022
2    11/10/2022
3    11/15/2022
4    11/16/2022
5    11/28/2022
6     12/2/2022
7     12/3/2022
Name: Date, dtype: object

In [7]:
commute['CommuteTime']

0    18.5
1    19.0
2    17.0
3    22.0
4    19.0
5    21.0
6    19.0
7    20.0
Name: CommuteTime, dtype: float64

In [8]:
two_columns = ['Weather','Destination']
commute[two_columns]

  Weather Destination
0    rain    Franklin
1     sun      Taylor
2     sun    Franklin
3    snow      Taylor
4    snow      Taylor
5    rain      Taylor
6     sun    Franklin
7     sun     Library

In [9]:
commute[two_columns].iloc[3]

Weather          snow
Destination    Taylor
Name: 3, dtype: object

In [10]:
commute[two_columns].loc[3]

Weather          snow
Destination    Taylor
Name: 3, dtype: object

In [11]:
commute['Weather'][3]

'snow'

In [12]:
commute[two_columns][3]

KeyError: 3

In [13]:
commute.describe()

        TripID  CommuteTime
count  8.00000     8.000000
mean   3.50000    19.437500
std    2.44949     1.545443
min    0.00000    17.000000
25%    1.75000    18.875000
50%    3.50000    19.000000
75%    5.25000    20.250000
max    7.00000    22.000000

In [14]:
commute_clean = commute.astype({'Date': 'datetime64', 'Vehicle': 'category', 'Weather': 'category', 'Destination': 'category'})

In [15]:
grouped_vehicles = commute_clean.groupby('Vehicle').describe()

In [16]:
grouped_vehicles

              TripID                                           CommuteTime  \
               count mean       std  min   25%  50%   75%  max       count
Vehicle
Passat           4.0  4.5  1.290994  3.0  3.75  4.5  5.25  6.0         4.0
Street Triple    4.0  2.5  3.109126  0.0  0.75  1.5  3.25  7.0         4.0


                 mean   std   min     25%    50%    75%   max
Vehicle
Passat         20.250  1.50  19.0  19.000  20.00  21.25  22.0
Street Triple  18.625  1.25  17.0  18.125  18.75  19.25  20.0

In [17]:
grouped_vehicles.loc['Passat']

TripID       count     4.000000
             mean      4.500000
             std       1.290994
             min       3.000000
             25%       3.750000
             50%       4.500000
             75%       5.250000
             max       6.000000
CommuteTime  count     4.000000
             mean     20.250000
             std       1.500000
             min      19.000000
             25%      19.000000
             50%      20.000000
             75%      21.250000
             max      22.000000
Name: Passat, dtype: float64

In [18]:
grouped_vehicles.loc['Street Triple']['CommuteTime']['max']

20.0

In [19]:
commute_clean.drop(labels =['TripID'], axis = 1).groupby(['Vehicle', 'Destination', 'Weather']).describe()

                                  CommuteTime                              \
                                        count  mean      std   min    25%
Vehicle       Destination Weather
Passat        Franklin    sun             1.0  19.0      NaN  19.0  19.00
              Taylor      rain            1.0  21.0      NaN  21.0  21.00
                          snow            2.0  20.5  2.12132  19.0  19.75
Street Triple Franklin    rain            1.0  18.5      NaN  18.5  18.50
                          sun             1.0  17.0      NaN  17.0  17.00
              Library     sun             1.0  20.0      NaN  20.0  20.00
              Taylor      sun             1.0  19.0      NaN  19.0  19.00


                                    50%    75%   max
Vehicle       Destination Weather
Passat        Franklin    sun      19.0  19.00  19.0
              Taylor      rain     21.0  21.00  21.0
                          snow     20.5  21.25  22.0
Street Triple Franklin    rain     18.5  18.50  18.5
                          sun      17.0  17.00  17.0
              Library     sun      20.0  20.00  20.0
              Taylor      sun      19.0  19.00  19.0

In [20]:
commute_clean['Date'].iloc[0]

Timestamp('2022-11-08 00:00:00')