In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'names': ['david', 'david', 'kaia', 'amelia', 'amelia'], 'values': [5,7,8,9,6]})

In [3]:
grouped = df.groupby('names')

In [4]:
counts = grouped.count()
counts

        values
names
amelia       2
david        2
kaia         1

In [5]:
counts.index

Index(['amelia', 'david', 'kaia'], dtype='object', name='names')

Above is what you have, which you can use for labeling later. But to plot something you need values for the coordinates. The steps below show how to use the shape of a dataframe to get a list of row values.

In [6]:
counts.shape

(3, 1)

In [7]:
counts.shape[0]

3

[Documentation on the built-in `range()` function](https://docs.python.org/3/library/functions.html#func-range).

In [8]:
range(counts.shape[0])

range(0, 3)

In [9]:
list(range(counts.shape[0]))

[0, 1, 2]